<!DOCTYPE html>
<html>
  <head>
    <title>Block #<%= height %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Block #<%= height %></h1>

    <p>Hash <%= hash %></p>
    <p><a href="https://litecoin.info/Block_hashing_algorithm">Merkle root</a> <%= merkleroot %></p>
    <p>Previous Block <a href="/id/<%= previousblockhash %>"><%= previousblockhash %></a></p>
    <p>Next Block <a href="/id/<%= nextblockhash %>"><%= previousblockhash %></a></p>

  	<p>Block Created <%= new Date(time*1000) %></p>
  	<p>In ??? LTC (??? USD)</p>
  	<p>Out ??? LTC</p>
  	<p>Block Rewad ??? LTC</p>
  	<p>Transaction Fees ??? LTC</p>

    <p><a href="https://litecoin.info/Block_hashing_algorithm">Nonce</a> <%= nonce %></p>
    <p><a href="https://litecoin.info/Block_hashing_algorithm">Bits</a> <%= bits %></p>
    <p><a href="https://en.bitcoin.it/wiki/Target#What_is_the_target_now.3F">Difficulty</a> <%= difficulty %></p>

    <p>Size <%= size %> bytes</p>
    <p>Version <%= version %></p>

  </body>
</html>